body {
  background-color: #004d1a;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
  font-family: arial sans-serif;
  background-repeat: no-repeat;
  border-radius: 25px;
  border: 2px solid white;
  width: 90%;
  height: auto;
}

h1 {
  color: goldenrod;
  font-size: 30px;
}

p {
  color: white;
  font-size: 18px;
}

#player-el {
  padding-top: 15px;
}

#message {
  font-style: italic;
}

.game,
.card,
#rbutton {
  color: #006622;
  width: 120px;
  background: goldenrod;
  border: none;
  border-radius: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 550;
  margin-top: 10px;
}

@media (min-width: 600px) {
  body {
    margin-left: 20px;
    width: 80%;
  }

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 20px;
  }

  .game,
  .card,
  #rbutton {
    width: 150px;
  }
}
