body{
  background-color:#004d1a;
  margin-top: 200px;
  text-align: center;
  font-family: arial sans-serif;
  background-repeat: no-repeat;

}
h1{
  color:goldenrod;
  font-size: 50px;

}

p{
  color : white;
  font-size: 22px;
}
#player-el{
  padding-top: 15px;
}
#message{
  font-style:italic;
}
.game{
  color:#006622;
  width:150px;
  background:goldenrod;
  border:none;
  border-radius : 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 550;
}
.card{
  margin-top: 20px;
  color:#016f32;
  width:150px;
  background:goldenrod;
  border:none;
  border-radius : 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 550;
}
#rbutton{

  margin-top: 20px;
  color:#016f32;
  width:150px;
  background:goldenrod;
  border:none;
  border-radius : 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 550;

}
