html{
  font-family: 'Gentium Book Plus', serif;
   background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(0,100,0));
  color:black;

}
h1{
  text-align: center;
  text-transform: uppercase;
}
hr{
  border: 1.7px solid black;
  border-radius: 2px;
}

.ban{
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 25px;
  text-shadow:2px,grey;
  text-transform: uppercase;
  letter-spacing:normal;
  line-height: normal;


}
nav{
  margin-top: 90px;
  margin

}
